{:blocks (), :pages ({:block/created-at 1666166209229, :block/name "634fadc1-8dcd-4593-ac96-fc2a029c018e", :block/properties {:ls-type :whiteboard-page, :logseq.tldraw.page {:id "634fadc1-8dcd-4593-ac96-fc2a029c018e", :name "page", :bindings {}, :nonce 7, :assets []}}, :block/type "whiteboard", :block/updated-at 1666166250206, :block/uuid #uuid "634fadc1-8dcd-4593-ac96-fc2a029c018e"})}